<!DOCTYPE html>
html(lang="en")
  include pug_components/head.pug
  
  body
  include pug_components/header.pug
  h1 hello world!
  ul
    li
      a(href='#') Item A
    li
      a(href='#') Item B
    li
      a(href='#') Item C
  include pug_components/footer.pug
  include pug_components/scripts.pug
