<!DOCTYPE html>

html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='icon', href='img/logo32.png', sizes='32x32')
		link(rel='icon', href='img/logo192.png', sizes='192x192')
		link(rel='apple-touch-icon-precomposed', href='img/logo180.png')
		link(rel='shortcut icon', href='img/favicon.png')
		//- link(rel='stylesheet', href='css/libs.min.css')
		link(rel='stylesheet', href='css/style.min.css')
		title Сайт-портфолио веб-разработчика
	body
		//- Лоадер
		//- .loader
			//- .loader_inner

		include includes/1-header.pug

		main#main.main
			include includes/2-hero.pug


		include includes/10-footer.pug

		//- script(src='js/libs.min.js')
		script(src='js/main.min.js')
