<header class="header">
  <div class="header__inner">
    <div class="header__slide-menu">
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item"><a href="" class="nav__link">Как это работает </a></li>
          <li class="header__nav-item"><a href="" class="nav__link">О нас</a></li>
          <li class="header__nav-item"><a href="" class="nav__link">Акции</a></li>
          <li class="header__nav-item"><a href="" class="nav__link">Контакты</a></li>
          <li class="header__nav-item"><a href="" class="nav__link">Справка</a></li>
        </ul>
      </nav>
      <div class="lang-selector">
        <div class="current-lang-block">
          <span class="current-lang">
          </span>
        </div>
        <ul class="lang-list">
          <li class="lang-list__item" data-lang="ru">RU</li>
          <li class="lang-list__item" data-lang="ua">UA</li>
          <li class="lang-list__item" data-lang="en">EN</li>
        </ul>
      </div>
    </div>
    <ul class="header__messengers">
      <li class="messenger-icon">
        <a href="" class="messenger-icon__link">
          <img src="img/icons/telegram.svg" alt="">
        </a>
      </li>
      <li class="messenger-icon">
        <a href="" class="messenger-icon__link">
          <img src="img/icons/viber.svg" alt="">
        </a>
      </li>
      <li class="messenger-icon">
        <a href="" class="messenger-icon__link">
          <img src="img/icons/income-phone.svg" alt="">
        </a>
      </li>
      <li class="messenger-icon">
        <a href="" class="messenger-icon__link">
          <img src="img/icons/messages.svg" alt="">
        </a>
      </li>
    </ul>
    <div class="header__phone">
      <a href="tel:+380800300330" class="header__phone-link"><img src="img/icons/phone.svg" alt="">0800 300 330</a>
    </div>
  </div>
</header>